.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #888;
  border-radius: 50%;
  background: $picnic-white;
  margin-bottom: 6px;
}

.stepper-item.active {
  color: $picnic-primary;
  font-weight: bold;
}

.stepper-item.active .step-counter {
  border: 1px solid $picnic-primary;
  background: $color-bg-green;
}

.stepper-item.completed .step-counter {
  background-color: $picnic-primary;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid $picnic-primary;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}
